body{
    margin: 0;
    max-width: 100%;
}
body>*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
    padding: 0px 50px;
}

.main-wrapper{
    max-width: 1349px;
    padding: unset;
    margin: 0 auto;
}

.hero-section{
    height: 610px;
    background-color: #E6B4A5;
}
.hero-section>*{
    display: flex;
}
header{
    display: flex;
    justify-content: space-between;
    height: 59px;
    padding: 15px 35px;
}
header .logo{
    display: flex;
    align-items: center;
    font-size: 29px;
    font-family: cursive;
    cursor: pointer;
    margin-top: -5px;
}
header nav{
    display: flex;
    font-size: 18.5px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    /* padding: unset; */
    align-items: center;
    cursor: pointer;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
header .book-btn{
    display: flex;
    align-items: center;
}
header button{
    cursor: pointer;
    font-family: serif;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 27px;
    border: 2px solid black;
    border-radius: 38px;
    background-color: #E6B4A5;
}
header button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.hero-section .main .left{
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}
.hero-section .main .left .heading{
    margin-top: 65px;
    font-size: 100px;
    font-family: math;
    font-weight: 600;
    padding-left: 43px;
}
.hero-section .main .left .contacts{
    display: flex;
    justify-content: space-between;
    padding: 0px 57px;
    width: 530px;
}
.hero-section .main .left .contacts .address{
    cursor: pointer;
    width: 163px;
    font-weight: 500;
}
.hero-section .main .left .contacts .email{
    cursor: pointer;
    width: 163px;
    font-weight: 500;
}
.hero-section .main .right{
    height: 500px;
    width: 35%;
    /* height: 400px; */
}
.hero-section .main .right img{
    height: 443px;
    width: 416px;
    border-top-left-radius: 219px;
    border-top-right-radius: 219px;
    float: right;
    margin-right: 39px;
    margin-top: 44px;
}







.blog{
    display: flex;
    background-color: white;
    padding-bottom: 30px;
}
.blog .left{
    width: 44%;
}
.blog .left img{
    height: 423px;
    width: 408px;
    border-top-left-radius: 219px;
    border-top-right-radius: 219px;
    margin-top: 66px;
    margin-left: 53px;
}

.blog .right{
    display: flex;
    flex-direction: column;
    padding: 88px 10px 40px 70px;
    width: 56%;
}
h2{
    font-size: 60px;
    font-family: math;
    margin: unset
}
.blog .right p{
    line-height: 22px;
    font-size: 18px;
    color: #0000008c;
    margin: 50px 0px 100px 0px;
}
.meet-team-btn{
    width: 189px;
    padding: 20px 0px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    margin-left: 20px;
    margin-top: 13px;
}
.meet-team-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}



.services{
    background-color: #E6B4A5;
    /* height: 550px; */
    padding-bottom: 65px;
}
.services h2{
    text-align: center;
    padding: 45px 0px;
}
.booking{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.book-now{
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
    width: 24%;
}
.book-now img{
    /* width: 250px; */
    height: 300px;
}

.detail{
    padding: 11px 16px;
}
.book-now h3{
    color: white;
    font-size: 20px;   
    margin-left: 2px;
    margin-top: 30px;
}

.booking .price{
    background-color: #E6B4A5;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    margin: -54px 0px 0px 173px;
}
.detail .book-btn{
    background-color: black;
    color: #E6B4A5;
    font-family: serif;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid #E6B4A5;
    border-radius: 20px;
    padding: 2px 10px;
    font-weight: 600;
}

.detail .book-btn:hover{
    background-color: #E6B4A5;
    color: black;
    font-weight: 600;
}



.book-now:hover img{
    background-color: rgba(23, 18, 46, 0.486);
}


/* section3 goes here */
/* section3 goes here */


.section-3{
    height: 240px;
    /* background-color: #c7b7a1; */
    background-color: white;
}

.subscribe{
    background-color: #E6B4A5;
}
.subscribe h2{
    text-align: center;
    padding-top: 85px;
}
.subscribe p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 18.5px;
}
.email-form{
    display: flex;
    width: 400px;
    height: 190px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50%;
    align-items: center;
}
.email-form input{
    height: 20px;
    border: none;
    border-bottom: 2px solid black;
    background-color: #E6B4A5;
    margin-left: 58px;
    outline: none;
}
.email-form button{
    border: none;
    background-color: #E6B4A5;
    cursor: pointer;
}
.email-form button i{
    font-size: 43px;
    rotate: 312deg;
    /* background-color: #E6B4A5; */
    border-radius: 50%;
    width: 47px;
    height: 47px;
    margin-left: 15px;
}
.email-form button i:hover{
    background-color: black;
    color: #E6B4A5;
    font-size: 43px;
}
i{
    rotate: 312deg;
    font-size: 18px;
}

.bottom-images {
    margin: 0 auto;
    display: flex;
    width: 1116px;
}
.bottom-images img{
    width: 25%;
    margin-top: 169px;
    height: 340px;
    border-top-left-radius: 219px;
    border-top-right-radius: 219px;
}
.book-appointment{
    display: flex;
    flex-direction: column;
    background-color: #f7f1ec;
    /* height: 320px; */
    justify-content: center;
}
.appointment-btn {
    display: flex;
    border: 2px solid black;
    height: 154px;
    width: 386px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin: 75px auto  75px auto;
    cursor: pointer;
}
.appointment-btn i{
    font-size: 35px;
    margin-left: 6px;
}
.appointment-btn:hover{
    color: white;
    background-color: black;
}
.book-appointment h2{
    color: #E6B4A5;
    width: 100vw;
    font-size: 101px;
    margin-top: 58px;
}


footer{
    display: flex;
    flex-direction: column;
    background-color: #E6B4A5;
    padding: 90px 115px;
    padding-bottom: unset;
}
footer .top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shanales h2{
    color: white;
    font-size: 30px;
    margin-top: 6px;
}
.shanales p {
    font-size: 21px;
    width: 265px;
    letter-spacing: .3px;
}
footer .top .detail{
    width: 270px;
}
footer .top .detail h3{
    color: white;
    font-weight: 100;
    font-size: 22px;
    margin: unset;
}

.detail ul{
    list-style-type: none;
    padding-left: unset;
}
.detail ul li {
    font-size: 21px;
    padding: 6.5px 0px;
    cursor: pointer;
}
.detail ul li:hover{
    text-decoration: underline;
    margin-left: 4px;
    transition: 0.5s all ease;
    font-size: 21px;
}

.follow-us{
    width: 140px !important;
}
.company{
    width: 150px !important;
}


.bottom{
    padding-bottom: 80px;
    font-size: 20px;
    padding-top: 21px;
}
.bottom .name{
    font-weight: 600;
}
.bottom .bold{
    font-weight: 600;
}
















